table {
    margin: 15px auto;
    border-width: 3px;
    border-style: outset;
    background-color: transparent;
    width: 80%;
    text-align: left;
    border-collapse: collapse;
    table-layout: fixed;
}

table.mobile {
    display: none;
}

table td, table th {
    border-width: 1px;
    border-style: solid;
    padding: 3px 2px;
}