node_modules
private/lylink-db-client.sql
protected/sql-user-pass
private/mysqldump.sql
**/bin/
**/obj/
**/.vs/
/logs
/private/sqlbackup.sql
/private/db_dump.sql
/protected/LylinkBackend_API/appsettings.Development.json
/protected/APIs/LylinkBackend_API/appsettings.Development.json
/protected/APIs/LylinkBackend_ManagementAPI/appsettings.Development.json
