node_modules
private/lylink-db-client.sql
protected/sql-user-pass
private/mysqldump.sql
**/bin/
**/obj/
**/.vs/
/logs
/private/sqlbackup.sql
/private/db_dump.sql
*.user
*.pubxml
/protected/APIs/LylinkBackend_AssetsAPI/.config/dotnet-tools.json
/protected/APIs/LylinkBackend_ManagementAPI/LylinkBackend_ManagementAPI.csproj.user
/protected/APIs/LylinkBackend_BlogAPI/LylinkBackend_BlogAPI.csproj.user
**.Development.json
*launchSettings.json
*dotnet-tools.json
*appsettings.Development.json
*.env
*realm.lylink.json
