@using LylinkBackend_API.Models
@model HeadContent
<script src="js/adblocker_popup.js"></script>

<title>@(Model.Title)</title>

<link id="siteStyle" rel="stylesheet" href="css/site_style.css" onerror="showAdblockPopup()" />
<link id="inputStyle" rel="stylesheet" href="css/input_style.css" onerror="showAdblockPopup()" />

<link id="colorStyle" rel="stylesheet" href="css/color.css" onerror="showAdblockPopup()" />
<link id="colorTransitionStyle" rel="stylesheet" href="css/color_transition_style.css" onerror="showAdblockPopup()" defer disabled />

<link id="tabsStyle" rel="stylesheet" href="css/tabs_style.css" onerror="showAdblockPopup()" />

<link id="icon" rel="icon" type="image/x-icon" href="css/lylink_icon.ico" onerror="showAdblockPopup()" />

<script src="js/color_slider.js" defer></script>
<script src="js/tabs.js" defer></script>

<meta charset="UTF-8" />
<meta name="keywords" content="@(Model.Keywords)" />
<meta name="description" content="@(Model.Description)" />
<meta name="author" content="Lylink">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
