@using LylinkBackend_API.Models
@model PageHeader
<div class="breadcrumb">
    <ul>
        @foreach (var parent in Model.ParentCategories)
        {
            <li><a href="@parent.Slug">@parent.Name.ToLower()</a></li>
        }
    </ul>
</div>
<h1 id="website-header">
    @Model.Name
</h1>