@using LylinkBackend_API.Models
@model SiteColorToggle

<div id="siteColorToggle">
    <img 
        id="darkMoon"
        src="~/images/DarkMode.svg"
        alt="Dark Mode" />
    <img
         id="lightSun"
         src="~/images/LightMode.svg"
         alt="Light Mode" />
</div>

<!--
<label id="colorStyleSwitch" class="switch">
    <input id="colorStyleSwitchCheckbox" type="checkbox">
    <span class="slider" onclick="handleColorStyleSwitching()"></span>
</label>
-->
