@using LylinkBackend_API.Models
@using LylinkBackend_API_Shared.Models
@using System.Text.RegularExpressions
@using Microsoft.Extensions.Options
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@inject IOptions<AssetsOriginOptions> AssetsOriginOptions;

@model PagePost
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Description;
    ViewData["Keywords"] = Model.Keywords;
    ViewData["PageName"] = Model.PageName;
    ViewData["ParentCategories"] = Model.Parents;
}

@section ExtraMetadata {
    @{
        Regex tableTagRegex = new(@"<table\b[^>]*>", RegexOptions.IgnoreCase);

        if (tableTagRegex.IsMatch(Model.Body))
        {
            <link id="tableStyle" rel="stylesheet" href="@($"{AssetsOriginOptions.Value.AssetsEndpointHttps}")/css/table_style.css" onerror="showAdblockPopup()" asp-append-version="true" />
        }
    }

    @if (Model.EditorName != null)
    {
        <link rel="stylesheet" href="css/annotations/recogito.min.css" onerror="showAdblockPopup()" />
        <script src="js/annotations/recogito-polyfills.js" onerror="showAdblockPopup()" defer></script>
        <script src="js/annotations/recogito.min.js" onerror="showAdblockPopup()" defer></script>
        <script src="js/annotations/annotation.js" onerror="showAdblockPopup()" defer></script>
    }
}

@section ExtraHeader {
    @{
        string updateTime = $"{Model.DateUpdated.Hour}:{Model.DateUpdated.Minute:D2}";
        string updateDate = $"{Model.DateUpdated.Month}/{Model.DateUpdated.Day}/{Model.DateUpdated.Year}";
    }

    <h5>Updated @updateTime on @updateDate</h5>
}

@section Body
{
    <main>
        @Html.Raw(Model.Body)
    </main>
}
