@using LylinkBackend_API.Models
@model Management

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Site Management";
    ViewData["Description"] = "Lylink - Management";
    ViewData["Keywords"] = "lylink, management";
    ViewData["PageName"] = "Site Management";
    ViewData["ParentCategories"] = new PageLink[] { new PageLink() { Name = "Index", Slug = "/" } };
}

@section Body
{
    <main>
        <ul>
            <li><a href="/publisher">Publisher</a></li>
        </ul>
    </main>
}