.tab-container {
    max-width: 90%;
    margin: 0 auto;
}

.tab-buttons {
    display: flex;
}

@media screen and (max-width: 800px) {
    .tab-buttons {
        overflow-x: scroll;
        padding-bottom: 10px;
    }
}

button {
    border-width: 2px;
    border-style: outset;
    padding: 10px 20px;
    cursor: pointer;
}

.tab-content {
    display: none;
    padding: 20px;
    border-width: 1px;
    border-style: outset;
    margin-top: 20px;
    background-color: var(--tab-content-bg-color);
    border-color: var(--tab-content-border-color);
}

.tab-content h2 {
    margin-top: 0;
}

/* By default, show the first tab content */
.tab-content:first-child {
    display: block;
}
