@using LylinkBackend_API.Models
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Categorizer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Categorizer";
    ViewData["Description"] = "Lylink - Categorizer";
    ViewData["Keywords"] = "lylink, management, categorizer";
    ViewData["PageName"] = "Categorizer";
    ViewData["ParentCategories"] = new PageLink[] { new PageLink() { Name = "Index", Id = "/" }, new PageLink { Name = "Management", Id = "management" } };
}

@section ExtraMetadata
{
    <link id="tableStyle" rel="stylesheet" href="css/table_style.css" onerror="showAdblockPopup()"  asp-append-version="true"/>
    <link id="maintenanceStyle" rel="stylesheet" href="css/maintenance_style.css" onerror="showAdblockPopup()"  asp-append-version="true"/>

    <script src="js/medium/medium-editor.min.js" asp-append-version="true"></script>
    <script src="js/medium/medium-editor-tables.min.js" asp-append-version="true"></script>
    <script src="js/beautify/beautify.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="css/medium/medium-editor.min.css" asp-append-version="true">
    <link rel="stylesheet" href="css/medium/medium-editor-tables.min.css" asp-append-version="true">
    <link rel="stylesheet" href="css/medium/themes/default.min.css" asp-append-version="true">

    <script src="js/categorizer.js" defer asp-append-version="true"></script>
}

@section Body
{
    <div class="tab-container">
        <main>
            <div class="tab-buttons">
                <button class="tab-button" onclick="showHtmlView()">HTML View</button>
                <button class="tab-button" onclick="showRenderedView()">Rendered View</button>
            </div>
            <div width="100%"><pre width="100%" id="html" class="tab-content" contenteditable="true" style="display: block;"></pre></div>
            <div id="rendered" class="tab-content" style="display: none;" contenteditable="true" data-placeholder=""></div>
        </main>
        <aside>
            <form style="display: inline-block">
                <label>
                    Posts
                    <select onchange="getSlugBody(this)">
                        <option value="none">Select a slug</option>
                        @foreach (PageLink categoryLink in Model.CategoryLinks) {
                            <option value="@categoryLink.Id">@categoryLink.Name</option>
                        }
                    </select>
                </label>
            </form>
            <form action="/saveCategory" method="post" style="display: inline-block">
                <label>
                    Title
                    <input type="text" id="title" name="Title" placeholder="Title" required />
                </label>

                <label>
                    Description
                    <input type="text" id="description" name="Description" placeholder="Description" required />
                </label>

                <label>
                    Keywords
                    <input type="text" id="keywords" name="Keywords" placeholder="Keywords" required />
                </label>

                <label>
                    Slug
                    <input type="text" id="slug" name="Slug" placeholder="Slug" required />
                </label>

                <label>
                    Parent Category
                    <select id="parentCategoryBox" name="ParentId" required>
                        <option value="">Select a category</option>
                        <option value="6">Index</option>
                        @{
                            foreach (PageLink parentCategoryLink in Model.CategoryLinks)
                            {
                                <option value="@parentCategoryLink.Id">@parentCategoryLink.Name</option>
                            }
                        }
                    </select>
                </label>

                <label>
                    Name
                    <input type="text" id="name" name="CategoryName" placeholder="Name" required />
                </label>

                <label>
                    Sort child posts by date created
                    <input type="checkbox" id="useDateCreatedSorting" name="UseDateCreatedForSorting" checked value="true" />
                </label>

                <input type="hidden" id="body" name="Body" />
                <input type="hidden" id="categoryId" name="CategoryId" />

                <button type="submit">Save Draft</button>
            </form>
        </aside>
    </div>
}