body {
    background-color: #312d3f; /* Dark lilac background */
    color: rgb(240, 235, 242);
}

body header {
    background-color: #3f3a52; /* Darker lilac shade */
    border-bottom: 7px #5d547c inset; /* Dark lilac accent */
}

body main {
    background-color: #474168; /* Another shade of dark lilac */
    border-color: #3f3a52;
}

body a {
    color: #c390e8; /* Light lilac link color */
}

body a:visited {
    color: #9c75ac; /* Light lilac visited link color */
}

header li::after {
    color: #c390e8;
}

body hr {
    border-top-color: #b891b9;
}

body h2 {
    border-bottom-color: #3e3e3e;
}

body header .breadcrumb {
    border-bottom-color: #5d547c;
}

body header #title-splash-text {
    color: #7b6d99;
}

body footer {
    background-color: rgba(255, 255, 255, 0.05);
}

/* Dark Mode Table Styles */

table {
    border-color: #593876; /* Dark lilac border color */
}

table td, table th {
    border-color: #ae85b6; /* Light lilac border color */
}

/* Dark mode tab colors */
.tab-button {
    background-color: #4A4460;
    border-color: #3E3951;
    color: white;
    font-weight: bold;
}

.tab-button:hover {
    background-color: #4C4663;
}

.tab-button.active {
    background-color: #585172;
}

.tab-content {
    background-color: #4A4460;
    border-color: #3E3951;
}