@media screen and (max-width: 525px) {
    body header > #website-header {
        font-size: 6vw;
    }
}

/* mobile page layout style */
@media screen and (max-width: 800px) {
    body header {
        width: 100%;
    }

    body header > #website-header {
        width: 85%;
    }

    body .container {
        width: 95%;
        margin: 0 auto;
    }
    
    body main {
        box-sizing: border-box;
        width: 100%;
    }

    body main p {
        margin-left: 2.5%;
    }

    body h2 {
        border-bottom: 1px solid #d09dd7;
        min-width: 50%;
        max-width: 80%; 
        margin-left: 2.5%;
    }
}

/* mobile table layout */
@media screen and (max-width: 800px) {
    body table.desktop {
        display: none;
    }
    
    body table.mobile {
        display: table;
        width: 95%;
    }
}