/* fonts */
@font-face {
    font-family: "MonospaceTypewriter";
    src: url("fonts-dir/monospacetypewriter.ttf");
}

/* general page container style */

* {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

html {
    background-color: #888;
}

body {
    margin: 0;
    font-family: 'MonospaceTypewriter';
}

body > #page-container {
    position: relative;
    min-height: 100vh;
}
  
body > #page-container > #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

body .container {
    width: 90%;
    margin: 2.5% 0%;
    margin-top: 1%;
    margin-left: 1.5%;
    margin-bottom: 2.5%;
}

body header {
    margin: 0;
    width: 100%;
    padding: 0.25em 0;
    padding-left: 10%;
    border-bottom-style: inset;
    border-bottom-width: 7px;
    box-sizing: border-box;
}

body header > #website-header {
    font-variant: small-caps;
}

body main {
    border-width: 3px;
    border-style: outset;
    padding: 0.5% 1%;
    margin: 3% 0%;
}

body footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    text-align: center;
}

/* page element stylings */

body h5 {
    font-weight: normal;
}

body a {
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}

body hr {
    border: none;
    height: 2px;
    width: 75%;
}

body h2 {
    min-width: 25%;
    max-width: 50%;
}

header h3 {
    border-width: 0px 0px 1px 1px;
    border-style: solid;
    display: inline-block;  /* Allows the div to shrink or grow based on its content */
    white-space: nowrap;    /* Prevents the text from wrapping, ensuring the div expands horizontally */
}

/* misc/irrelevant css */
.illegible {
    color: transparent;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.breadcrumb {
    padding-left: 5%;
    box-sizing: border-box;
    overflow-x: visible; /* Allow content to be visible outside the box */
    border-bottom: 2px solid; /* Border for style */
    padding-bottom: 5px; /* Space between text and border */
}

.breadcrumb ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap; /* Prevents wrapping on larger screens */
}

.breadcrumb li::after {
    margin-left: 5px;
    margin-right: 5px;
    content: "→";
}

@media (max-width: 800px) {
    .breadcrumb ul {
        flex-direction: column; /* Stack vertically on mobile */
        align-items: flex-start;
    }

    .breadcrumb li {
        margin-bottom: 5px; /* Space between items on mobile */
    }

    .breadcrumb li::after {
        content: "↓"; /* Add a down arrow instead of a right arrow */
        margin-left: 5px;
    }
}
