@using LylinkBackend_DatabaseAccessLayer.BusinessModels
@using LylinkBackend_ManagementAPI.Models
@model Management

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Site Management";
    ViewData["Description"] = "Lylink - Management";
    ViewData["Keywords"] = "lylink, management";
    ViewData["PageName"] = "Site Management";
    ViewData["ParentCategories"] = new PageLink[] { new PageLink { Description = "Management", Name = "Management", Slug = "/" } };
};

@section Body
{
    <main>
        <ul>
            <li><a href="/publisher">Publisher</a></li>
            <li><a href="/categorizer">Categorizer</a></li>
        </ul>
    </main>
}