@keyframes bringToFront {
    0% {
        z-index: 1;
    }

    100% {
        z-index: 2;
    }
}

:root {
    --background-color: #fdefff;
    --text-color: black;
    --header-bg-color: #ffe6ff;
    --header-border-color: #f2d5f4;
    --main-aside-bg-color: #f6d1fb;
    --main-aside-border-color: #fde3ff;
    --link-color: #d621ee;
    --visited-link-color: #6f157b;
    --hr-border-color: #804388;
    --h2-border-color: #d09dd7;
    --breadcrumb-border-color: #d09dd7;
    --title-splash-text-color: #673771;
    --footer-bg-color: rgba(0, 0, 0, 0.05);
    --table-border-color: #f2c5f7;
    --table-cell-border-color: #c991d0;
    --button-bg-color: #E7C7ED;
    --button-border-color: #D7AED8;
    --button-hover-bg-color: #D8B1E0;
    --button-active-bg-color: #CDA4D6;
    --tab-content-bg-color: #E7C7ED;
    --tab-content-border-color: #D7AED8;
    --scrollbar-color: #b384c8;
}

html.dark-mode {
    --background-color: #312d3f;
    --text-color: rgb(240, 235, 242);
    --header-bg-color: #3f3a52;
    --header-border-color: #5d547c;
    --main-aside-bg-color: #474168;
    --main-aside-border-color: #3f3a52;
    --link-color: #c390e8;
    --visited-link-color: #9c75ac;
    --hr-border-color: #b891b9;
    --h2-border-color: #3e3e3e;
    --breadcrumb-border-color: #5d547c;
    --title-splash-text-color: #7b6d99;
    --footer-bg-color: rgba(255, 255, 255, 0.05);
    --table-border-color: #593876;
    --table-cell-border-color: #665968;
    --button-bg-color: #4A4460;
    --button-border-color: #3E3951;
    --button-hover-bg-color: #4C4663;
    --button-active-bg-color: #585172;
    --tab-content-bg-color: #4A4460;
    --tab-content-border-color: #3E3951;
    --scrollbar-color: #867097;
}

div#siteColorToggle {
    position: absolute;
    right: 2.5%;
    top: 2.5vh;
    width: 75px;
    height: 75px;
}

div#siteColorToggle img {
    width: 75px;
    height: 75px;
    cursor: pointer;
    position: absolute;
    display: inline;
    left: 0;
    top: 0;
}

div#siteColorToggle img.shown {
    filter: drop-shadow(0, 0, 10px, #ffffff);
}

div#siteColorToggle img.hidden {
    filter: blur(2px) contrast(0.9);
}

* {
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

div#siteColorToggle img.hideImage {
    transition: filter 0.5s !important;
    animation: bringToFront 0.5s cubic-bezier(0.4, 0, 1, 1) forwards;
}

div#siteColorToggle img.showImage {
    transition: filter 0.5s !important;
    animation: bringToFront 0.5s cubic-bezier(0.4, 0, 1, 1) reverse;
}