MANAGEMENT_SITE_ROOT_URL=https://management-site.io
MANAGEMENT_SITE_ADMIN_URL=https://management-site.io
MANAGEMENT_SITE_CLIENT_SECRET=<secret value>
BLOG_SITE_CLIENT_SECRET=<secret value>
KEYCLOAK_POSTGRES_PASSWORD=<password>
KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD=<password>